# DeepSeek
DP_API_KEY=your_deepseek_api_key_here
DP_URL=https://api.deepseek.com
DP_MODE=deepseek-v4-flash

# 阿里 DashScope
AL_EM_KEY=your_dashscope_api_key_here
AL_EM_MODE=text-embedding-v4
AL_EM_URL=https://dashscope.aliyuncs.com/compatible-mode/v1